@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-button {
  box-shadow: 1px 0px 50px 0px rgba(236, 39, 182, 0.51);
  -webkit-box-shadow: 1px 0px 50px 0px rgba(236, 39, 182, 0.51);
  -moz-box-shadow: 1px 0px 50px 0px rgba(236, 39, 182, 0.51);
}
